@import "~antd/dist/antd.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-form,
.price-form {
  min-width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

.price-form h3 {
  margin-bottom: 20px;
}

.login-form .ant-form-item,
.price-form .ant-form-item {
  width: 300px;
}

.login-form .login-form-button,
.price-form .login-form-button {
  width: 100%;
}

.auth,
.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.auth {
  width: 100vw;
  height: 100vh;
}
/*.ant-table {*/
/*  min-height: 600px !important;*/
/*  max-height: 650px !important;*/
/*  overflow-y: auto;*/
/*}*/
.container {
  max-width: 1000px;
  height: calc(100vh - 84px);
  margin: 0 auto;
  background-color: #fff;
}

.ant-layout-header {
  padding: 0;
}

.ant-menu-overflow {
  justify-content: center;
}

.ant-input-number {
  width: 100%;
}

.pagination {
  margin: 0 auto;
}

.delete {
  background-color: red;
}

.complete {
  background-color: green;
}

.delete,
.complete {
  cursor: pointer;
  color: #fff;
  margin-right: 5px;
  border-color: white;
}

.create-guard-form {
  width: fit-content;
  margin: 0 auto;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*margin: 0 auto;*/
}
.create-guard-form h2 {
  text-align: center;
}
.btnCreateGuard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.create-guard-form .input {
  width: 200px;
}

.content {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
}

.addRateBlock {
  margin-bottom: 20px;
}
