.editBtn {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}
.info {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.comment {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  height: 100%;
}
.commentValue > p {
  word-break: break-all;
}
